/* Globals */

@import url('https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+Antique:wght@300&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
    color: #333;
    line-height: 1.5;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
}

/* Styles Sheet */

.container {
    display: flex;

}

.left-panel {
    width: 25%;
    height: 100vh;
    background-color: violet;
}

.status {
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: slateblue;
}

.status > h1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #fefefe;
    height: 200px;
    width: 200px;
    border-radius: 200px;
}

.nav {
    height: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: tomato;
}

.links {
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: springgreen;
    margin: 0rem 4rem;
}

.links > img {
    height: 30px;
    width: 30px;
}

.foot {
    height: 10%;
    display: flex;
}

.copyrights {
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: turquoise;
}

.lang {
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: yellow;
}

.lang > img {
    height: 30px;
    width: 30px;
}

.right-panel {
    width: 75%;
    height: 100vh;
    background-color: yellowgreen;
}
